* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: 'Arvo', sans-serif;
	font-weight: 300;
	background-color: #eee;
	color: #333;
	text-align: center;
	font-size: 2rem;
}

a {
	color: #333;
	text-decoration: none;
}

h1,
h2,
h3 {
	padding-bottom: 2rem;
}

h1, 
h2{
  font-size: 1em;
  color:#5F8D37;
  font-family: 'times';
}

.wrapper {
	margin: auto;
	width: 100%;
}

.button {
	font-size: 1rem;
	color: #eee;
	background-color: #000;
	padding: 1.5rem 2.5rem;
	border: none;
	border-radius: 5px;
  	font-family: 'Tahoma';
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0          rgba(0,0,0,0.19);
}

.button:hover {
	background-color: #5F8D37;
	color: #FFF1D7;
	cursor: pointer;
}

/* ************************************************** nav */
nav {
	position: fixed;
	font-weight: 300;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 10rem;
	background-color: #fff;
	box-shadow: 0 0.25rem .25rem rgba(51, 51, 51, 0.2);
	z-index: 1;
}
nav ul {
	list-style: none;
	display: flex;
	font-size: 5rem;
}
nav ul li a {
	display: block;
	padding: 2rem;
}

nav ul li a:hover,
nav ul li a.current {
	background-color: #333;
	color: #fff;
}

/* logo */
.logo {
	font-size: 4rem;
  color: #900009;
  font-family: 'Bebas Neue';
}
.logo i {
	padding: 0 1.5rem;
}

/* ************************************************** header */
#title {
	background: url(https://images.unsplash.com/photo-1615719413546-198b25453f85?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=736&q=80) no-repeat center center/cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#title h1 {
	font-size: 12vw;
	letter-spacing: 1.5rem;
	margin: 3rem;
	padding-bottom: 0rem;
	color: #FFFFFF;
	font-weight: 400;
  font-family: 'Bebas Neue';
  
}

/* ************************************************** main */

/* about */
#about {
	font-size: 3.3rem;
	line-height: 2.1;
	padding: 8rem 5rem;
	letter-spacing: 0.2rem;
}

#about p {
	margin: 0 auto;
	width: 77%;
	text-align: justify;
}

/******************** Image Overlay ********************/
	.pizzaoverlay {
		font-size: 80px;
	}

	.pizzatitle {
		font-size: 20px;
		color: #900009;
	}

*, *:before, *:after{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
  }
  
  .title {
	font-size: 1rem;
  }
  
  .container{
	padding: 1em 0;
	float: left;
	width: 50%;
  }
  @media screen and (max-width: 640px){
	.container{
	  display: block;
	  width: 100%;
	}
  }
  
  @media screen and (min-width: 900px){
	.container{
	  width: 33.33333%;
	}
  }
  
  .container .title{
	color: #1a1a1a;
	text-align: center;
	margin-bottom: 10px;
  }
  
  .content {
	position: relative;
	width: 90%;
	max-width: 400px;
	margin: auto;
	overflow: hidden;
  }
  
  .content .content-overlay {
	background: rgba(0,0,0,0.7);
	position: absolute;
	height: 99%;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
	opacity: 1;
  }
  
  .content-image{
	width: 100%;
	height: 250px;
  }
  
  .content-details {
	position: absolute;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	top: 50%;
	left: 50%;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
	top: 50%;
	left: 50%;
	opacity: 1;
  }
  
  .content-details h3{
	color: #fff;
	font-weight: 500;
	letter-spacing: 0.15em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
  }
  
  .content-details p{
	color: #fff;
	font-size: 0.8em;
  }
  
  .fadeIn-bottom{
	top: 80%;
  }

  .fadeIn-top{
	top: 20%;
  }
  
  .fadeIn-left{
	left: 20%;
  }
  
  .fadeIn-right{
	left: 80%;
  }
  
/* photos */
.photos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: stretch;
}

.photos img {
	width: calc(100%/2);
	height: calc(100%/2);
}

/* ************************************************** quote */
.quote {
  color: #FFFFFF;
	background-color: #900009;
  font-family: 'Bebas Neue';
	font-size: 5rem;
	line-height: 2.1;
	padding: 1rem 5rem;
	letter-spacing: 0.2rem;
}

section:first-of-type {
	background-color: #000;
	color: #F7AD45;
}

/* ************************************************** form */
#contact {
	padding-top: 4rem;
	font-size: 3rem;
}

#contact form {
	padding: 0 20%;
	text-align: left;
}

#contact h2 {
	margin: 2rem 0;
}

#contact label {
	font-size: 2rem;
  font-family: 'times';
}

#contact textarea {
	height: 20rem;
}

input,
textarea {
	background-color: #e9e9e9;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 0;
	padding: 1rem;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 3rem;
	font-size: 1.2rem;
}

input:focus,
textarea:focus {
	outline: 3px solid #ccc;
}

input[type="submit"] {
	font-size: 2rem;
	font-weight: 300;
}
input[type="submit"]:hover {
	background-color: #5F8D37;
	color: #FFF1D7;
}

/* ************************************************** footer */
#footer {
  background-image: linear-gradient(to right,#5F8D37, #FFF1D7);
	color: #FFF1D7;
	padding: 2rem;
	font-size: 2.3rem;
	margin-top: 3rem;
}

/* ************************************************** media queries */

@media screen and (max-width: 700px) {
	nav {
		flex-direction: column;
		justify-content: center;
	}

	nav .logo {
		font-size: 6rem;
		padding-bottom: 1.5rem;
	}

	nav ul {
		display: none;
	}
	.photos img {
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-width: 481px) {
	nav {
		padding: 1rem 3rem;
	}

	nav .logo {
		font-size: 4rem;
		padding-bottom: 1rem;
	}

	.title-content a {
		font-size: 1.6rem;
	}

	.quote {
		padding: 3rem 4rem;
		font-size: 2.5rem;
	}

	#about {
		padding: 3rem 4rem;
		font-size: 2.5rem;
	}

	#about p {
		text-align: center;
	}

	#contact label {
		font-size: 1.6rem;
	}
}

/*** Fonts ****/

/*** Jost ***/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Jost:wght@300&display=swap');
/*** Bebas Neue ***/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Jost:wght@300&display=swap');
/*** Domine ***/
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap');

/*** Google map **/
.google-map {
     margin-top: 3rem;
     padding-bottom: 50%;
     position: relative;
}

.google-map iframe {
     height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     position: absolute;
}

/** Adding social media icons **/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.wrapper .social {
  display: inline-block;
  height: 60px;
  width: 59px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px #000;
  transition: all 0.3s ease-out;
}
.wrapper .social:hover {
  width: 200px;
}
.wrapper .social .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .social:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .social:nth-child(2):hover .icon{
  background: #1DA1F2;
}

.wrapper .social .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .social:hover .icon i{
  color: #fff;
}
.wrapper .social span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .social:nth-child(1) span{
  color: #4267B2;
}
.wrapper .social:nth-child(2) span{
  color: #1DA1F2;
}


/*************************************************** Image overlay*/
.pizzaoverlay {

}

.container{
  padding: 1em 0;
  float: left;
  width: 50%;
}
@media screen and (max-width: 640px){
  .container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container{
    width: 33.33333%;
  }
}

.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}